llama-cpp-python==0.1.55
git+https://github.com/Maximilian-Winter/guidance.git@313c726265c94523375b0dadd8954d19c01e709b
andromeda-chain==0.2.0
langchain
python-dotenv
chromadb
bs4
fastapi[all]
uvicorn
pydantic
pyparsing
sqlmodel
bs4
colorama
sentence_transformers
alembic
protobuf==3.20